%h1 Listing orders
%table
  %tr
    %th.first Name&nbsp;
    %th.first Email&nbsp;
    %th.first Price&nbsp;
  - @orders.each do |order|
    %tr.offset
      %td= order.name
      %td= order.email
      %td= order.price
  %h4