%a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Monday
%a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Tuesday
%a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Wednesday
%a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Thursday
%a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Friday
%a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Saturday
%a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Sunday