%table{:style => "table-layout: fixed"}
  %tr
    - menus.each do |menu|
      %td.items
        .one
          %h4= menu.title
        .price_line
          %span.price
            = number_to_currency(menu.price)
            = button_to "Add to Lunch", line_items_path(menu_id: menu),remote: true,:class => 'btn btn-default'
